.home-container {
  text-align: center;
  padding: 20px;
}

.home-image {
  width: 300px;
  border-radius: 8px;
  margin-top: 20px;
}

.home-description {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #ddd;
}

.home-buttons {
  margin-top: 20px;
}

.home-buttons button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  font-size: 1rem;
}

.home-buttons button:hover {
  background-color: #0080c0;
}

.home-section {
  margin-top: 40px;
}

.home-section h2 {
  color: #272cc9;
  margin-bottom: 10px;
}

.home-section ul {
  list-style: none;
  padding: 0;
  color: #ccc;
}
